<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrfToken" content="<%= csrfToken %>">
    <title>Todo Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<script>
  
    var token = document.querySelector('meta[name="csrfToken"]').getAttribute('content');

    function updateTodo(id, currentStatus) {
        fetch(`/todos/${id}/setCompletionStatus`, {
            method: "PUT",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                "_csrf": token,
                "completed": !currentStatus // toggle status
            })
        })
        .then((res) => {
            if (res.ok) {
                window.location.reload();
            }
        })
        .catch((err) => console.error(err));
    }
  
    function deleteTodo(id) {
        // Send the DELETE request to delete the todo
        fetch(`/todos/${id}`, {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                     "_csrf": token 
                    }
                )
            })
            .then((res)=>{
                if(res.ok){
                  window.location.reload();
                }
            })
            .catch((err)=>console.error(err));  
        }
</script>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-2">Welcome to the TO-DO Manager</p>
            <p class="py-2">New here?
                 <a href='/signup'class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/login "class="text-green-600">Login now</a></p>
                <form action="/todos" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <div class="flex gap-2 py-4">
                        <div class="flex-auto">
                            <input type="text" name="title" placeholder="what's next"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm" required />
                        </div>
                        <div class="flex-auto">
                            <input type="date" name="dueDate"
                                class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm leading-4"
                                required />
                        </div>
                        <div class="flex-none">
                            <button type="submit"
                                class="bg-green-500 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
                        </div>
                    </div>
                </form>

                <%- include("todos.ejs", { title: "Overdue" , todos: Over_due, count_id: "count-overdue" }) %>
                    <%- include("todos.ejs", { title: "Due Today" , todos: Today_list, count_id: "count-due-today" }) %>
                        <%- include("todos.ejs", { title: "Due Later" , todos: Later_list, count_id: "count-due-later"
                            }) %>
                            <%- include("todos.ejs", { title: "Completed" , todos: Completed_list, count_id: "count-completed"
                        }) %>
        </div>
    </div>
</body>
</html>