<div class="flex items-center">
    <h5 id="let-s_try" class="font-semibold text-gray-600 py-2"><%= title %></h5>
    <span id="<%= count_id %>" class="bg-gray-200 rounded py-1 px-2 ml-2 text-sm"><%= todos.length %></span>
</div>

<ul class="list-none">
    <% for(let i = 0; i < todos.length; i++) { %>
    <li class="Todo-Item">
        <div class="flex w-fit px-2 my-2 py-1 items-center hover:bg-purple-100 rounded">
            <input id="todo-checkbox-<%= todos[i].id %>" type="checkbox" <%= todos[i].completed ? "checked" : "" %> onclick="updateTodo(<%= todos[i].id %>)" class="w-4 h-4 text-blue-600 bg-gray-200 rounded border-gray-300" />

            <label for="todo-checkbox-<%= todos[i].id %>" class="text-sm text-gray-600 ml-2 cursor-pointer">
                <%= todos[i].title %>
            </label>

            <a href="#" class="ml-4 hidden trash-icon" onclick="deleteTodo(<%= todos[i].id %>)">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                     stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" 
                          d="M14.74 9l-.346 9m-4.788 0L9.26 9M19.228 5.79a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
            </a>
        </div>
    </li>
    <% } %>
</ul>

